################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
# .gitignore will be existing for the reference of the developer (@iid3rp) is commiting through GitHub or Visual Studio.
################################################################################

/.vs
